
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/materialize.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="row scope-login">
        @using (Html.BeginForm("LoginS", "Login", FormMethod.Post, new {@id="form-login", @class = "s4 form-login" }))
        {
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" name="Nome" type="text" class="validate">
                    <label for="login">Login</label>
                </div>
                <div class="input-field col s12">
                    <input id="senha" name="Senha" type="password" class="validate">
                    <label for="senha">Senha</label>
                </div>
                <div class="col s6">
                    <a href="#login" class="waves-effect waves-light btn" onclick="clickLogin()">Entrar</a>
                </div>
            </div>
        }
    </div>
    <script>
        var clickLogin = function () {
            $('#form-login').submit();
        };
    </script>
</body>
</html>
